@page "/payment-success"
@using System.Security.Claims

<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-3 m-5 p-5">
            <div class="alert alert-success text-center">
                Payment made successfully, Thank you for shopping with us!
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter] public Task<AuthenticationState>? UserAuthState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var user = (await UserAuthState!).User;
            if (user.Identity!.IsAuthenticated)
            {
                string cartString = await browserCookieStorageService.GetAsync(Constants.Cart.Name);
                if (!string.IsNullOrEmpty(cartString))
                {
                    var list = JsonSerializer.Deserialize<IEnumerable<ProcessCart>>(cartString);
                    var arc = list!.Select(x => new CreateCartItem()
                    {
                        ProductId = x.ProductId,
                        Quantity = x.Quantity,
                        UserId = user.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier)!.Value
                    });
                    await cartService.SaveCheckOutHistoryAsync(arc);
                    await browserCookieStorageService.RemoveAsync(Constants.Cart.Name);
                }
            }
        }
        catch (Exception ex)
        {
           
        }
    }
}